{% block form_builder_dynamicmultifile_widget %}
    {% apply spaceless %}
        <div {{ block('attributes') }}>
            <div class="qq-upload-container">
                {% set translationVarName = id ~ '_dmf_config' %}
                <script class="js-options">var {{ translationVarName }} = {{ engine_options|json_encode|raw }};</script>
            </div>
            <div class="qq-uploader-wrapper" style="display:none;">
                <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="{{ 'form_builder.dynamic_multi_file.drop_files_here'|trans }}">
                    {% include '@FormBuilder/Form/Elements/DynamicMultiFile/form.html.twig' %}
                </div>
            </div>
            <input type="{{ type }}" value="{{ value }}" rel="theme" />
        </div>
    {% endapply %}
{% endblock %}