{% block dynamicmultifile_widget %}
    {% spaceless %}
        <div class="dynamic-multi-file element-{{ name }}" data-field-name="{{ name }}">
            <div class="qq-upload-container">
                {% set translationVarName = name ~ '_dmf_config' %}
                <script class="js-options">var {{ translationVarName }} = {{ engine_options|json_encode|raw }};</script>
            </div>
            <div class="qq-uploader-wrapper" style="display:none;">
                <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="{{ 'form_builder.dynamic_multi_file.drop_files_here'|trans }}">
                    {% include '@FormBuilder/Form/Elements/DynamicMultiFile/form.html.twig' %}
                </div>
            </div>
            {{ block('form_widget') }}
        </div>
    {% endspaceless %}
{% endblock %}