<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

    <div class="wrapper">

        {% if editmode %}

            <div class="alert alert-info">
                <strong>Admin:</strong> {{ 'form_builder.email.placeholder_list_available'|trans({},'admin')|format('<code>%Text(firstname);</code>')|raw }}
            </div>

             {# If you're using output workflows, this property will be added on runtime and is not available in editmode! #}
            {% if document.getProperty('mail_force_plain_text') == true %}
                <div class="alert alert-info"><strong>Admin:</strong> {{ 'form_builder.email.forced_plain_text_enabled'|trans({},'admin') }}</div>
            {% endif %}

            {# If you're using output workflows, this property will be added on runtime and is not available in editmode! #}
            {% if document.getProperty('mail_disable_default_mail_body') != true %}
                <div class="alert alert-info"><strong>Admin:</strong> {{ 'form_builder.email.form_renders_automatically'|trans({},'admin') }}</div>
            {% else %}
                <div class="alert alert-info"><strong>Admin:</strong> {{ 'form_builder.email.custom_style_activated_use_placeholder'|trans({},'admin')|format('<code>%Text(firstname);</code>')|raw }}</div>
            {% endif %}

        {% endif %}

        <table class="row">
            <tr>
                <th class="large-12 small-12 columns first last">
                    {{ pimcore_wysiwyg('text', {width: '500'}) }}
                </th>
            </tr>
        </table>

        {# If you're using output workflows, this property will be added on runtime and is not available in editmode! #}
        {% if document.getProperty('mail_disable_default_mail_body') != true %}
            <table class="row">
                <tr>
                    <th class="large-12 small-12 columns first last">
                        {% if editmode != true %}
                            <p>%Text(body);</p>
                        {% else %}
                            <p class="formbuilder-placeholder-body">{{ 'form_builder.email.form_will_placed_here'|trans({},'admin') }}</p>
                        {% endif %}
                    </th>
                </tr>
            </table>
        {% endif %}

    </div>

</body>
</html>

