{% block form_builder_dynamicmultifile_widget %}
    {%- for child in form %}
        {{- form_row(child, {compound: false}) -}}
    {% endfor -%}
{% endblock %}

{% block form_builder_dynamicmultifile_fine_uploader_widget %}
    {% apply spaceless %}
        <div {{ block('attributes') }}>
            <div class="qq-upload-container"></div>
            <div class="qq-uploader-wrapper" style="display:none;">
                <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="{{ 'form_builder.dynamic_multi_file.drop_files_here'|trans }}">
                    {% include '@FormBuilder/form/elements/dynamic-multi-file/form.html.twig' %}
                </div>
            </div>
            {% for child in form -%}
                {% if not child.rendered %}
                    {{- form_row(child) -}}
                {% endif %}
            {%- endfor -%}
            {% if help_text %}
                {{ block('help_text_label') }}
            {% endif %}
        </div>
    {% endapply %}
{% endblock %}

{% block form_builder_dynamicmultifile_drop_zone_widget %}
    {% apply spaceless %}
        <div {{ block('attributes') }}>
            <div class="dropzone-container"></div>
            <div class="dropzone-template" style="display: none;">
                {% include '@FormBuilder/form/elements/dynamic-multi-file/form-drop-zone.html.twig' %}
            </div>
            {% for child in form -%}
                {% if not child.rendered %}
                    {{- form_row(child) -}}
                {% endif %}
            {%- endfor -%}
            {% if help_text %}
                {{ block('help_text_label') }}
            {% endif %}
        </div>
    {% endapply %}
{% endblock %}