{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% use '@FormBuilder/Form/Theme/Type/dynamic_multi_file.html.twig' %}
{% use '@FormBuilder/Form/Theme/Type/html_tag.html.twig' %}

{% block help_text_label %}
    <span class="help-block">{{ help_text|trans }}</span>
{% endblock help_text_label %}

{% block form_widget_simple -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock textarea_widget %}

{% block choice_widget -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock choice_widget %}

{% block checkbox_widget -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock checkbox_widget %}

{% block form_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : 'col-xs-12' }}">
        {{ parent() }}
    </div>
{%- endblock form_row %}

{% block button_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : 'col-xs-12' }}">
        {{ parent() }}
    </div>
{%- endblock button_row %}

{% block checkbox_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : 'col-xs-12' }}">
        {{ parent() }}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : 'col-xs-12' }}">
        {{ parent() }}
    </div>
{%- endblock radio_row %}