{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% use '@FormBuilder/Form/Theme/Type/dynamic_multi_file.html.twig' %}
{% use '@FormBuilder/Form/Theme/Type/html_tag.html.twig' %}
{% use '@FormBuilder/Form/Theme/Type/snippet.html.twig' %}
{% use '@FormBuilder/Form/Theme/Type/container.html.twig' %}

{%- block form_builder_dynamicmultifile_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {{ parent() }}
{%- endblock form_builder_dynamicmultifile_widget -%}

{%- block form_widget_compound -%}
    {% if form.parent is not empty %}
        <div {{ block('widget_container_attributes') }}>
    {% endif %}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
    {% if form.parent is not empty %}
        </div>
    {% endif %}
{%- endblock form_widget_compound -%}

{% block help_text_label %}
    <small class="text-muted">{{ help_text|trans }}</small>
{% endblock help_text_label %}

{% block form_widget_simple -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock textarea_widget %}

{% block choice_widget -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock choice_widget %}

{% block checkbox_widget -%}
    {{ parent() }}
    {% if help_text %}
        {{ block('help_text_label') }}
    {% endif %}
{%- endblock checkbox_widget %}

{% block form_builder_honeypot_row -%}
    {{- form_widget(form) -}}
{%- endblock form_builder_honeypot_row %}

{% block form_row -%}
    {% set form_row_class = attr['data-template'] is defined ? attr['data-template'] : 'col-12' %}
    {% if form.vars.is_form_builder_container_block is defined %}
        {% set form_row_class = 'formbuilder-container-block' %}
    {% endif %}
    <div class="{{ form_row_class }}">
        {{ parent() }}
    </div>
{%- endblock form_row %}

{% block button_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : 'col-12' }}">
        {{ parent() }}
    </div>
{%- endblock button_row %}

{% block checkbox_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : 'col-12' }}">
        {{ parent() }}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : 'col-12' }}">
        {{ parent() }}
    </div>
{%- endblock radio_row %}