<div class="form-config-window">

    <div class="fb-row">
        <div class="fb-col fb-col-half">
            <div class="fb-form-group">
                <label for="form">{{ 'form_builder.area.form'|trans({}, 'admin') }}</label><br>
                {{ pimcore_select('formName', { width: 240, store: formStore }) }}
            </div>
        </div>
        <div class="fb-col fb-col-half">
            <div class="fb-form-group">
                <label for="formType">{{ 'form_builder.area.form_template'|trans({}, 'admin') }}</label><br>
                {{ pimcore_select('formType', { width: 240, store: formTemplateStore }) }}
            </div>
        </div>
    </div>

    {% if formPresetStore is defined %}

        <div class="fb-row">
            <div class="fb-col fb-col-half">
                <div class="fb-form-group">
                    <label for="form">{{ 'form_builder.area.form_preset'|trans({}, 'admin') }}</label><br>
                    {{ pimcore_select('formPreset', { width: 240, store: formPresetStore }) }}
                </div>
            </div>
        </div>
        <div class="fb-row">
            <div class="fb-col fb-col-full">
                <div class="preview-fields clearfix">
                    <h5>{{ 'form_builder.area.form_preset_info'|trans({}, 'admin') }}</h5>
                    {% for formPresetPreview in formPresetsInfo %}
                        <div class="preview-field" data-name="{{ formPresetPreview.presetName }}">
                            {% if formPresetPreview.description is not empty %}
                                <div class="description">{{ formPresetPreview.description }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

    <div class="output-data-wrapper" data-output-workflows="{{ allOutputWorkflowStore|json_encode }}" data-output-workflow-none-translation="{{ 'form_builder.area.no_output_workflow'|trans({}, 'admin') }}">

        <div class="output-workflow-selector" style="display:{{ hasValidOutputWorkflows ? 'block' : 'none' }};">
            <div class="fb-row">
                <div class="fb-col fb-col-half">
                    <div class="fb-form-group">
                        <label for="form">{{ 'form_builder.area.output_workflow'|trans({}, 'admin') }}</label><br>
                        {{ pimcore_select('outputWorkflow', { width: 240, store: outputWorkflowStore }) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="legacy-output-selector" style="display:{{ hasValidOutputWorkflows ? 'none' : 'block' }};">

            <div class="fb-row">
                <div class="fb-col fb-col-full">
                    <div class="fb-form-group">
                        <label for="sendMailTemplate">{{ 'form_builder.area.mail_template'|trans({}, 'admin') }}</label><br>
                        {{ pimcore_href('sendMailTemplate', {'width': 505, 'types': ['document'], 'subtypes': { 'document': ['email'] } }) }}
                    </div>
                </div>
            </div>

            <div class="fb-row">
                <div class="fb-col fb-col-half">
                    <div class="fb-form-group">
                        <label for="userCopy">{{ 'form_builder.area.send_copy_to_user'|trans({}, 'admin') }}</label><br>
                        {{ pimcore_checkbox('userCopy') }}
                    </div>
                </div>
                <div class="fb-col fb-col-half">
                    <div class="fb-form-group">
                        <label for="sendCopyMailTemplate">{{ 'form_builder.area.copy_mail_template'|trans({}, 'admin') }}</label><br>
                        {{ pimcore_href('sendCopyMailTemplate', {'width': 240, 'types': ['document'], 'subtypes': { 'document': ['email'] } }) }}
                    </div>
                </div>
            </div>

            <div class="legacy-output-nag">
                <strong>{{ 'form_builder.area.output_workflow.legacy.trigger'|trans({}, 'admin') }}!</strong>
                {{ 'form_builder.area.output_workflow.legacy.note'|trans({}, 'admin') }}
            </div>

        </div>

    </div>

</div>