{% macro render(field) %}
    {% set value = field.value %}
    {% if value is iterable %}
        {% set value = value|join(', ') %}
    {% endif %}
    {% if value is not empty %}
        <tr>
            <td width="50%" valign="top" align="left"><strong>{{ field.email_label|default(field.label)|raw }}:</strong></td>
            <td width="50%" valign="top" align="left">{{ value }}</td>
        </tr>
    {% endif %}
{% endmacro %}

{% import _self as formFieldRenderer %}

<table>
    <thead></thead>
    <tbody>
    {% for field in fields|default([]) %}
        {% if field.field_type == 'simple' %}
            {{ formFieldRenderer.render(field) }}
        {% elseif field.field_type == 'container' %}
            {% if field.fields is defined and field.fields is iterable and field.fields|length > 0 %}
                {% if field.label != false %}
                    <tr>
                        <td width="100%" valign="top" colspan="2" align="left"><strong>{{ field.label|trans }}:</strong></td>
                    </tr>
                {% endif %}
                <tr>
                    <td width="100%" valign="top" align="left" colspan="2">
                        <table width="100%">
                            {% for field_container in field.fields %}
                                {% if field_container is iterable %}
                                    {% if field.block_label is defined and field.block_label != false %}
                                        <tr>
                                            <td width="100%" valign="top" colspan="2" align="left"><strong>{{ field.block_label|trans }}:</strong></td>
                                        </tr>
                                    {% endif %}
                                    {% for sub_field in field_container %}
                                        {{ formFieldRenderer.render(sub_field) }}
                                    {% endfor %}
                                    {% if loop.last == false %}
                                        <tr>
                                            <td width="100%" valign="top" colspan="2">
                                                <hr>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    {#
        [DOUBLE-OPT-IN]
        If you want to show double opt in session values, uncomment this section

        available fields:
            - double_opt_in_session.email
            - double_opt_in_session.token
            - double_opt_in_session.creation_date
            - double_opt_in_session.additional_data
    #}
    {#
        {% if double_opt_in_session is defined and double_opt_in_session is not null %}
            <tr>
                <td width="50%" valign="top" align="left"><strong>Double-Opt-In-Email:</strong></td>
                <td width="50%" valign="top" align="left">{{ double_opt_in_session.email }}</td>
            </tr>
        {% endif %}
    #}
    </tbody>
</table>